
.statistics{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 40px;
width: 300px;
border: 1px solid var(--border-color);
border-radius: 5px;
}

h2{
padding: 40px;
}

.stat-list{
display: flex;
width: 300px;
}